* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 300px;
	margin: 20px auto;
}

label {
	display: block;
}

.red {
	color: red;
	font-style: italic;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
